#section-contact {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding-bottom: 80px;
  background: linear-gradient(#003d4d, #004d5d);
}

#section-contact h3 {
  margin-bottom: 40px;
  text-align: center;
}

.logo-contact {
  background-image: url("https://i.imgur.com/dwPBMXq.png");
  background-size: cover;
  height: 100px;
  width: 100px;
}

.container-item-contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
}

.container-item-contact > * {
  text-align: center;
}

.container-item-contact p {
  margin: 5px 0;
  font: 10rem;
}

.container-item-contact a {
  text-decoration: none;
}
