header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 100px;
  width: 100%;
  background-color: #000d14;
  z-index: 10;
}

#div-logo {
  background-image: url("../images/logo.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: opacity 0.5s;
}

#div-logo:hover {
  opacity: 0.5;
}

#nav-bar {
  flex: 1;
}

#nav-bar p {
  margin: auto;
  height: 20px;
  text-decoration: none;
  transition: color 0.5s;
  cursor: pointer;
  user-select: none;
}

#nav-bar p:hover {
  color: #023e8a;
}

.select-language {
  position: relative;
  appearance: none;
  background: transparent;
  border: none;
  z-index: 15;
}

.container-select {
  position: relative;
  margin-left: auto;
  width: max-content;
}

.container-select:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  z-index: 10;
}

.select-language:focus {
  outline: none;
}

.container-button-drawer {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 80px;
}

.container-button-drawer .button-drawer {
  opacity: 0;
}

.button-drawer {
  padding: 10px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  border-radius: 25px;
  z-index: 100;
}

.button-drawer:active {
  background-color: rgba(0, 24, 45, 0.499);
}

#modal-drawer {
  position: fixed;
  top: 0;
  display: flex;
  height: 100vh;
  width: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 0.25s;
  z-index: 11;
}

#drawer {
  height: 100%;
  min-height: 350px;
  width: 0;
  background-color: #001a2c;
  overflow: auto;
  transition: width 0.15s;
}

#drawer #nav-bar {
  max-height: 350px;
}

#drawer .container-items-nav-bar {
  margin-left: 15px;
}

#drawer div p {
  margin: 0;
  margin-bottom: 60px;
  width: max-content;
  cursor: none;
}

.stuffed-modal {
  flex: 1;
}

@media only screen and (max-width: 890px), (max-height: 575px) {
  header {
    padding: 0;
    height: 80px;
  }

  #nav-bar {
    height: 100%;
  }

  #div-logo {
    height: 80px;
    width: 80px;
    cursor: none;
  }

  .container-select {
    margin-left: 0;
  }

  .container-select:after {
    right: 0px;
  }
}