#section-presentation {
  padding-top: 100px;
  background: linear-gradient(#000d14, #001a2c);
}

#section-presentation h1 {
  font-size: 4em;
  letter-spacing: 5px;
}

#section-presentation h2 {
  font-size: 2em;
  letter-spacing: 5px;
}

#section-presentation h1, #section-presentation h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #ced4da; 
  animation: pulsate 2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.container-bio-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container-img-presentation {
  display: inline-block;
  height: 300px;
  width: 100%;
  max-width: 300px;
  min-width: 280px;
  margin-right: 20px;
  cursor: pointer;
}

#img-presentation {
  border: 2px solid #ced4da;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  background-image: url("../images/Diego.webp");
  background-size: cover;
  transition: transform 2s;
}

#history {
  flex: 1;
  min-width: 350px;
  line-height: 2;
  margin: 20px 0;
  text-align: justify;
}

.container-tech-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.container-tech-list figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-tech-list figure p {
  margin-top: 5px;
}

@media only screen and (max-width: 712px) {
  #section-presentation h1 {
    font-size: 2em;
  }

  #section-presentation h2 {
    font-size: 1em;
  }

  .container-img-presentation {
    margin-right: 0;
  }

  #history {
    min-width: 100%;
  }
}

@media only screen and (max-width: 712px) {
  #section-presentation {
    padding-top: 80px;
  }

  .container-img-presentation {
    cursor: none;
  }
}

@keyframes pulsate {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 12px #ced4da, 0 0 2px #ced4da;
  }
}
